nav {
  background-color: var(--white-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: var(--round);
  position: sticky;
  top: 10px;

  a.active {
    text-decoration: underline;
  }
}
.iconBox {
  transform: scale(0.9);
  background-color: var(--black);
  height: 45px;
  width: 45px;
  text-align: center;
  padding-top: 7px;
  border-radius: var(--round);
}

.menu {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.menuItem {
  font-size: 1.3rem;
}
.menuItemText {
  color: var(--text-dark);
  text-decoration: none;
}
.menuBtn {
  background-color: var(--text-dark);
  border: none;
  padding: 8px 12px;
  border-radius: var(--round);
}
.menuBtnText {
  font-size: 1rem;
  color: var(--text-light);
  text-decoration: none;
  cursor: pointer;
}

/* mobile */
.mobileMenuBtn {
  display: none;
  border: none;
  background-color: transparent;
  padding-top: 8px;
  font-size: 2rem;
  vertical-align: "center";
}

.mobileMenu {
  display: none;
  z-index: 10;
  width: 300px;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in-out 0.3s;
}
.mobileMenu.hide {
  width: 0px;
  opacity: 0;
}

/* mobile */
@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .mobileMenuBtn {
    display: block;
  }
  .mobileMenu {
    display: block;
  }
}


.badge {
  position: absolute;
  top: 10px;
  padding: 5px;
}